@model SPManager.Models.StudyPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudyPlan</h4>
    <hr />
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContentDesc):
                </th>
                <td>
                    @Html.DisplayFor(model => model.ContentDesc)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Program1.Name):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Program1.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Status):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>
            </tr>
        </thead>     
    </table>
          
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
