@model IEnumerable<SPManager.Models.StudyPlan>

@{
    ViewBag.Title = "Index";
}

<h2>Study Plans</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-secundary" />
    </p>
}


<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDesc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Program1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SPID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SPID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SPID })
            </td>
        </tr>
    }

</table>
